### Q21
http://euler.synap.co.kr/prob_detail.php?id=21

In [38]:
# Q21 python

dic_21 = {}
answer = []

for i in range(2,10001):
    temp = []
    
    for j in range(1, int(i/2) +1):
        
        
        if i % j == 0 :
            #print("{0} // {1}".format(i,j))
            temp.append(j)

    dic_21[i] = sum(temp)

dic_21[1]=0


for i in range(2,10001):
    
    if (dic_21[i]<=10000):
        if (i == dic_21[dic_21[i]]) & (i != dic_21[i]) :
            answer.append(i)
           

print(answer)
sum(answer)

[220, 284, 1184, 1210, 2620, 2924, 5020, 5564, 6232, 6368]

31626

### Q22
http://euler.synap.co.kr/prob_detail.php?id=22

In [117]:
# Q22 python 

f = open('C:/names.txt', 'r')
lines = f.readline()


list22 = lines.replace('"',"").split(',')


alphabet = ['A','B','C','D','E','F','G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
numbering = list(range(1,1+len(alphabet)))

dict22 = dict(zip(alphabet, numbering))

sort_list22 = sorted(list22)


total_sum = 0
name_total = 0

for i in range(len(sort_list22)):
    name_mul = 0
    for j in range(len(sort_list22[i])):
        
        
        name_mul = name_mul + dict_22[sort_list22[i][j]]
        #print("{0} // len(name): {1} // {2} //  num change: {3} // name_mul: {4}".format(sort_list22[i], len(sort_list22[i]), sort_list22[i][j], dict22[sort_list22[i][j]], name_mul))
        
        
    name_total = (i+1) * name_mul
    #print("{0} * {1} = {2}".format((i+1),name_mul, name_total))
    total_sum +=name_total
    #print(total_sum)
    
    
    
print(total_sum)

871198282

### Q23 
#### Not solved

http://euler.synap.co.kr/prob_detail.php?id=23

In [113]:
# Q23 python
# refer to https://opentutorials.org/module/3075/17974

def divisors(n):
    i=2;total={1}
    while i<=n**0.5:
        if n%i==0:
            total.add(i)
            total.add(n/i)
        i+=1
    return sum(total)
 
abun=set()
for i in range(1,28123):
    if i<divisors(i):
        abun.add(i)
 
numbers=set(range(28123))
for i in abun:
    for j in abun:
        if (i+j) in numbers:
            numbers.remove(i+j)
print(sum(numbers))

4179871

### Q24 
#### Not solved

In [2]:
# Q24 python
# refer to : https://opentutorials.org/module/3075/18309

def get_next_permutation(string):
    i=len(string)-2
    while i >= 0:
        if string[i] < string[i+1]:
            target = sorted(string[i:])
            new_num = target.pop(target.index(string[i])+1)
            last_nums = ''.join(target)
            return string[:i] + new_num + last_nums
        i-=1
 
string='0123456789'
for i in range(1,1000000):    
    string = get_next_permutation(string)
print(string)

3628800

### Q25
http://euler.synap.co.kr/prob_detail.php?id=25

In [35]:
# Q25 python

temp = [1,1]

breaker = False

while True:
    
    if len(str(temp[-1])) <1000:
            
        new_value = temp[-2] + temp[-1]
        temp.append(new_value)
        
    if len(str(temp[-1])) ==1000:
        breaker = True
    
    if breaker ==True:
        break


        
len(temp)

4782

### Q26
#### Not Solved
http://euler.synap.co.kr/prob_detail.php?id=26

In [80]:
# refer to https://gorani95.tistory.com/38

count_temp=0
num_temp=0
for i in range(2,1001):
    count=0
    arr=[]
    left=i
    right=1
    for j in range(0,1000):      
        while(right<left):
            right=right*10
            if(right==0):
                break
        right=right%left
        arr.append(right)
        if(right==0):
            break
        right=right*10
    for k in range(1,len(arr)):
        if(arr[0]!=arr[k]):
            count=count+1
        else:
            if(count_temp<count):
                count_temp=count
                num_temp=i
            break
print(num_temp)
#반환 시간 : 0.4s

983

### Q27
http://euler.synap.co.kr/prob_detail.php?id=27

In [117]:
# Q27 python
# refer to https://opentutorials.org/module/3075/18371

from sympy import isprime

max_n = 0
for a in range(-1000, 1000):
    for b in range(-1000, 1000):
        
        n = 0
        
        while True:
            
            number = n**2 + a*n + b
            
            if (number>0) & isprime(number):
                n +=1
            
            else:
                if n>max_n:
                    max_n = n
                    print("a:",a,"b:",b,"new max value n:",n,a*b)
                    break
                    
                else:
                    break

a: -1000 b: 2 new max value n: 1 -2000
a: -996 b: 997 new max value n: 2 -993012
a: -499 b: 997 new max value n: 3 -497503
a: -325 b: 977 new max value n: 4 -317525
a: -245 b: 977 new max value n: 5 -239365
a: -197 b: 983 new max value n: 6 -193651
a: -163 b: 983 new max value n: 7 -160229
a: -131 b: 941 new max value n: 8 -123271
a: -121 b: 947 new max value n: 9 -114587
a: -105 b: 967 new max value n: 11 -101535
a: -61 b: 971 new max value n: 71 -59231

### Q28
http://euler.synap.co.kr/prob_detail.php?id=28

In [124]:
a = [[1] , [2]]
a

[[1], [2]]

In [152]:
# Q28 python
import numpy as np

list28 = list(range(1,1001*1001+1))

In [151]:
array28 = np.zeros((1001,1001))

In [154]:
len(list28)

1002001

In [153]:
a = 501
b = 501

for i in range(len(list28)):
    
    array28[a][b] = i
    if a==b:
        b= b+1

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [140]:
lista = [[1]*5]
lista

[[1, 1, 1, 1, 1]]

In [138]:
for i in range(5):
    lista[0][i] = i

[[0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [139]:
lista[0][0]

0